{{#each this}}
    <li class="movie-item">
        <div class="movie-card">
          <a href>
            <img
              class="card-img"
              src="https://www.themoviedb.org/t/p/w500{{poster_path}}"
              loading="lazy"
              alt="{{title}}"
              title="{{title}}"
              data-id="{{id}}"
            />
          </a>
          <div class="card-info">
            <h2 class="card-title">{{title}}</h2>
            <div class="card-info-wraper">
              <ul class="card-genres">
                {{#each genres}}         
                  <li class="card-genre">{{name}}{{#unless @last}},{{/unless}}</li>
                {{/each}}
              </ul>
              <p class="card-year">| {{release_date}}</p>
            </div>
          </div>
        </div>
      </li>
{{/each}}