<li class="movie-item movie-link" data-id="{{id}}">
      <div class="movie-card">
        <a href class="movie-link" data-id="{{id}}">
          {{#if poster_path}}
            <img
            class="card-img"
            src="https://www.themoviedb.org/t/p/w500{{poster_path}}"              
            alt="{{title}}"
            title="{{title}}"
            data-id="{{id}}"
            onerror="this.onerror=null;this.src='https://i.pinimg.com/originals/74/3d/b2/743db230d891b47c1d8c66b161111b91.jpg'" loading="lazy"
            />  
          {{/if}}        
        
        
          <div class="card-info" data-id="{{id}}" >
            <h2 class="card-title" data-id="{{id}}" >{{title}}</h2>
              <div class="card-info-wraper" data-id="{{id}}" >
                <ul class="card-genres">  
                  {{#if genres}}
                  {{#each genres}}         
                    <li class="card-genre" >{{name}}{{#unless @last}},{{/unless}}</li>
                  {{/each}}
                  {{else}}
                    <li class="card-genre">No genres added yet</li>
                  {{/if}}           
                </ul>
                {{#if release_date}}
                <p class="card-year" data-id="{{id}}">| {{release_date}}</p>
                {{else}} <p class="card-year">| No data</p>
                {{/if}}
              </div>
          </div>
        </a>
      </div>
</li>