{{#each this}}
  <li class='team-item'>
    <a href='{{github}}' class='team-link'>
      <img class='team-img' src='{{image}}' alt='{{name}}' width='100' />
    </a>
    <div class='team-desc-container'>
      <p class='team-name'>{{name}}</p>
      <p class='team-position'>{{description}}</p>
    </div>
  </li>
{{/each}}